.users {
    width: 100%;
}

.usersTitle {
    margin: 10px 0 20px 0;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.usersList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.usersListCard {
    flex-basis: 33.3333%;
    min-width: 280px;
    max-width: 380px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    box-shadow: 0 3px 1px 1px rgba(192, 192, 192, 0.8);
}

.usersListCardTitle {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
}

.cardText {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
}

.cardBlockTitle {
    margin: 10px 0 5px 0;;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
}

.cardBlock {
    margin: 10px 0;
}