.list-first-wrap {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: aliceblue;
}

.list-first {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-first__item::first-letter {
    text-transform: capitalize;
}

.list-first__item {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 18px;
}