.list-second-wrap {
    width: 100%;
    padding: 20px 30px;
    background-color: grey;
}

.list-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-second__title::first-letter {
    text-transform: capitalize;
}

.list-second__item {
    flex-basis: 20%;
    text-align: center;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

